<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>INDEX</h1>
    
    <p><a href="/public">Go to a public page</a></p>
    <p><a href="/private">Go to a private page</a></p>    

	<form name="logout_form" id="logout_form" method="post" action="http://localhost:8080/logout?app_id=demo&amp;client_id=demo_client&amp;redirect_uri=http://localhost:8081/">
		<input type="submit" value="Logout" />
	</form>
    
</body>
</html>